@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-Regular.ttf");
}
body {
  background: rgb(235, 232, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(235, 232, 255, 0.2) 50%,
    rgba(147, 247, 244, 0.2) 90%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(235, 232, 255, 0.2) 50%,
    rgba(147, 247, 244, 0.2) 90%
  );
  background: linear-gradient(
    90deg,
    rgba(235, 232, 255, 0.2) 50%,
    rgba(147, 247, 244, 0.2) 90%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebe8ff",endColorstr="#93f7f4",GradientType=1);
  font-family: "Montserrat";
}
